<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" #nombre/>
      </div>
      <div *ngIf="angForm.controls['nombre'].invalid && (angForm.controls['nombre'].dirty || angForm.controls['nombre'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['nombre'].errors.required">
         Nombre is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Apellidos</label>
        <input type="text" class="form-control" formControlName="apellidos" #apellidos />
      </div>
      <div *ngIf="angForm.controls['apellidos'].invalid && (angForm.controls['apellidos'].dirty || angForm.controls['apellidos'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['apellidos'].errors.required">
          Apellidos is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Dirección </label>
        <input type="text" class="form-control" formControlName="direccion" #direccion />
      </div>

      <div class="form-group">
        <label class="col-md-4">Teléfono </label>
        <input type="text" class="form-control" formControlName="telefono" #telefono />
      </div>
      
      <div class="form-group">
        <button (click)="addUser(nombre.value, apellidos.value, direccion.value, telefono.value)"
        [disabled]=" angForm.invalid" 
        class="btn btn-primary">Add User</button>
      </div>
    </form>
  </div>
</div>